/** @format */

.container {
  max-width: 60rem;
  padding: 1rem;
  max-height: 70vh;
  margin: 0 auto;
  overflow-y: auto;
  text-align: center;
}

.container h1,
h2 {
  margin-bottom: 0.6rem;
}

.container p,
ol {
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.container ol {
  margin-left: 2rem;
  text-align: left;
}
