/** @format */

.container {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sessionType {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-dark--2);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.timer {
  font-family: "Roboto Mono", monospace;
  line-height: 0.9;
  color: var(--color-dark--1);
}

/* Timer media queries */
@media (max-width: 320px) {
  .timer {
    font-size: 6rem;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .timer {
    font-size: 11rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .timer {
    font-size: 20rem;
  }
}

@media (min-width: 1024px) {
  .timer {
    font-size: 25rem;
  }
}
