/**
 * BurgerMenu.module.css
 *
 * @format
 */

.burgerMenu {
  position: absolute;
  top: -100%;
  right: 0;
  width: auto;
  max-height: 80vh;
  background-color: var(--color-dark--2);
  transition: top 0.2s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

/* Apply styles to show the menu when open */
.open {
  top: 0;
}

/* Apply styles to navigation links */
.navLinks li {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.navLinks li a {
  text-decoration: none;
  color: var(--color-light--1); /* Use the defined color variable */
  transition: color 0.1s ease-in-out;
  text-transform: uppercase;
}

/* Apply styles on hover and active states */
.navLinks li a:hover,
.navLinks li a:active {
  color: var(--color-light--3);
}

/* Apply styles to default and visited link states */
.navLinks a:link,
.navLinks a:visited {
  color: var(--color-light--1);
}
