/**
 * TimerButton.module.css
 *
 * @format
 */

.start-button,
.pause-button,
.reset-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-dark--2);
  margin: 0.5rem;
  padding: 0.5rem;
}

.start-button:hover,
.pause-button:hover,
.reset-button:hover {
  color: var(--color-dark--0);
}
