/**
 * UndoButton.module.css
 *
 * @format
 */

.undoButton {
  background: none;
  border-radius: 25%;
  width: 2.5rem;
  cursor: pointer;
  font-family: "Roboto Serif", serif;
  color: var(--color-dark--2);
}

.buttonText {
  font-weight: bold;
  color: var(--color-dark--2);
}

.buttonText:hover,
.undoButton:hover {
  background-color: var(--color-dark--0);
  color: var(--color-light--3);
}
